[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
python-engineio = "*"
rsa = "~=4.0"
six = "~=1.12.0"
inflection = "*"
python-dotenv = "*"
k8-kat="~=0.0.156"
typing-extensions = "*"
kubernetes = "*"
coverage = "*"
validators = "*"
flask = "*"

[requires]
python_version = "3.6"
