[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
kama-sdk-py = {editable = true, path = "/home/xavier/workspace/kama-sdk-py"}

[packages]
kama-prom-plugin = {editable = true, path = "."}

[requires]
python_version = "3.8"
