[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

#[dev-packages]
#kama-sdk-py = {editable = true, path = "/home/xavier/workspace/kama-sdk-py"}
#kama-telem-plugin = {editable = true, path = "/home/xavier/workspace/mono/telem-plugin/telem-plugin-kama"}
#kama-prom-plugin = {editable = true, path = "/home/xavier/workspace/mono/prom-plugin/prom-plugin-kama"}

[packages]
python-engineio = "*"
kama-sdk-py="0.0.21"
kama-prom-plugin="0.0.4"
kama-telem-plugin="0.0.7"
cert-manager-plugin="0.0.5"

[requires]
python_version = "3.8"
