[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cert-manager-plugin = {editable = true, path = "."}

[dev-packages]
kama-sdk-py = {editable = true, path = "/home/xavier/workspace/kama-sdk-py"}

[requires]
python_version = "3.8"
